## Merge DF Final

In [1]:
# Para la manipulación de datos 

import pandas as pd
import numpy as np

In [2]:
# importamos df 

df = pd.read_excel(r"df-final.xlsx")
df

                   Localidad    Latitud  Longitud       Provincia
0                    Guadame  36.706119 -4.439046          Málaga
1           Puebla de Guzman  37.612887 -7.248890        Huelva\n
2                     Huelva  37.257587 -6.948494        Huelva\n
3                    Andújar  38.039236 -4.050560            Jaén
4                    Carmona  37.471788 -5.641291         Sevilla
..                       ...        ...       ...             ...
537              Son Servera  39.622273  3.360598  Islas Baleares
538                 Santanyi  39.354312  3.129480  Islas Baleares
539               Ciutadella  40.000440  3.835237  Islas Baleares
540  Sant Josep de sa Talaia  38.904361  1.317810  Islas Baleares
541                    Sineu  39.643140  3.011611  Islas Baleares

[542 rows x 4 columns]

In [3]:
# importamos el df de radiacion 

rad_df = pd.read_excel(r'Radiacion.xlsx')
rad_df

,Fecha,Jaen,Granada,Almeria,Malaga,Cordoba,Sevilla,Cadiz,Huelva,Murcia,...,La Rioja,Vizcaya,Guipuzcoa,Alava,Cantabria,Asturias,La Coruña,Lugo,Orense,Pontevedra
0,2010_01,64.11,72.09,82.01,76.72,69.99,73.31,72.40,70.01,73.88,...,50.46,40.28,40.36,38.95,40.55,41.50,45.06,47.44,46.80,49.12
1,2010_02,68.83,67.54,82.87,77.23,78.42,78.10,83.22,83.17,79.16,...,67.14,60.12,60.29,57.50,62.75,65.90,65.79,62.27,66.16,61.81
2,2010_03,127.59,127.75,133.36,122.26,135.62,133.74,138.61,132.80,125.80,...,116.59,95.44,103.53,101.66,95.05,97.49,111.68,111.31,109.09,107.39
3,2010_04,164.50,183.56,179.06,171.33,177.26,177.53,186.95,185.78,159.36,...,161.67,149.22,154.38,150.93,153.47,140.62,148.33,153.03,158.40,160.62
4,2010_05,210.55,219.64,240.51,223.91,229.42,230.64,239.30,234.91,218.41,...,162.97,138.80,132.49,149.80,143.27,141.79,164.88,158.14,171.15,177.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2020_08,223.84,225.61,209.95,220.73,221.63,228.73,226.89,229.12,212.65,...,183.74,150.46,152.24,173.00,141.64,144.46,153.38,165.07,177.90,180.66
128,2020_09,163.24,168.55,159.60,160.12,164.55,167.44,170.64,168.14,160.11,...,147.60,133.51,129.12,136.21,131.85,125.71,139.68,140.28,145.02,142.34
129,2020_10,132.22,135.39,133.65,131.42,129.83,133.73,137.75,134.65,129.92,...,90.01,69.96,66.42,76.29,72.30,82.53,80.75,76.48,82.14,83.42
130,2020_11,87.43,90.29,88.07,84.71,82.69,84.39,90.64,81.27,89.51,...,58.01,63.44,60.15,65.30,63.42,62.18,58.24,58.08,56.87,57.66
131,2020_12,69.81,72.21,84.74,78.46,70.14,71.32,76.52,73.05,81.17,...,48.97,37.12,35.03,44.40,36.56,37.03,38.16,35.16,41.86,40.62

In [4]:
# vemos si hay nas

df.info()
rad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Localidad  542 non-null    object
 1   Latitud    542 non-null    float64
 2   Longitud   542 non-null    float64
 3   Provincia  542 non-null    object
dtypes: float64(2), object(2)
memory usage: 17.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 53 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   132 non-null    object
 1   Jaen                    132 non-null    float64
 2   Granada                 132 non-null    float64
 3   Almeria                 132 non-null    float64
 4   Malaga                  132 non-null    float64
 5   Cordoba                 132 non-null    float64
 6   Sevilla                 132 non-null    float64
 7   Cadiz                   132 non-null    float64
 8   Huelva                  132 non-null    float64
 9   Murcia                  132 non-null    float64
 10  Caceres                 132 non-null    float64
 11  Badajoz                 132 non-null    float64
 12  Toledo                  132 non-null    float64
 13  Ciudad Real             132 non-null    float64
 14  Albacete                132 non-null    float64
 15  Cuenca                  132 non-null    float64
 16  Guadalajara             132 non-null    float64
 17  Castellon               132 non-null    float64
 18  Valencia                132 non-null    float64
 19  Alicante                132 non-null    float64
 20  Baleares                132 non-null    float64
 21  Ceuta                   132 non-null    float64
 22  Melilla                 132 non-null    float64
 23  Santa Cruz de Tenerife  132 non-null    float64
 24  Las Palmas              132 non-null    float64
 25  Madrid                  132 non-null    float64
 26  Soria                   132 non-null    float64
 27  Segovia                 132 non-null    float64
 28  Avila                   132 non-null    float64
 29  Salamanca               132 non-null    float64
 30  Zamora                  132 non-null    float64
 31  Leon                    132 non-null    float64
 32  Palencia                132 non-null    float64
 33  Burgos                  132 non-null    float64
 34  Valladolid              132 non-null    float64
 35  Huesca                  132 non-null    float64
 36  Zaragoza                132 non-null    float64
 37  Teruel                  132 non-null    float64
 38  Gerona                  132 non-null    float64
 39  Lerida                  132 non-null    float64
 40  Tarragona               132 non-null    float64
 41  Barcelona               132 non-null    float64
 42  Navarra                 132 non-null    float64
 43  La Rioja                132 non-null    float64
 44  Vizcaya                 132 non-null    float64
 45  Guipuzcoa               132 non-null    float64
 46  Alava                   132 non-null    float64
 47  Cantabria               132 non-null    float64
 48  Asturias                132 non-null    float64
 49  La Coruña               132 non-null    float64
 50  Lugo                    132 non-null    float64
 51  Orense                  132 non-null    float64
 52  Pontevedra              132 non-null    float64
dtypes: float64(52), object(1)
memory usage: 54.8+ KB

In [5]:
df.Provincia = df.Provincia.str.replace('\n',"", regex=True)
df.Provincia.value_counts()

Madrid            52
Valencia          33
Barcelona         24
Alicante          17
Sevilla           17
Asturias          16
Zaragoza          16
Cáceres           16
Huesca            15
Cantabria         15
Tarragona         14
León              13
Vizcaya           13
La Coruña         12
Navarra           12
Badajoz           11
Cádiz             11
Ciudad Real       11
Islas Baleares    11
Zamora            11
Lérida            11
Lugo              10
Toledo            10
Málaga            10
Murcia            10
Teruel            10
Salamanca          9
Orense             9
Granada            9
Álava              9
Valladolid         9
Huelva             8
Pontevedra         8
Gipuzcoa           8
Burgos             8
Castellón          8
Cuenca             7
Soria              7
La Rioja           6
Almería            6
Palencia           5
Córdoba            5
Gerona             5
Guadalajara        4
Albacete           3
Jaén               3
Segovia            3
Lleida             1
Galicia            1
Name: Provincia, dtype: int64

In [6]:
# Cambiamos el tipo a fecha 
rad_df['Fecha'] = rad_df['Fecha'].str.replace("_", "-", regex=True)
rad_df

,Fecha,Jaen,Granada,Almeria,Malaga,Cordoba,Sevilla,Cadiz,Huelva,Murcia,...,La Rioja,Vizcaya,Guipuzcoa,Alava,Cantabria,Asturias,La Coruña,Lugo,Orense,Pontevedra
0,2010-01,64.11,72.09,82.01,76.72,69.99,73.31,72.40,70.01,73.88,...,50.46,40.28,40.36,38.95,40.55,41.50,45.06,47.44,46.80,49.12
1,2010-02,68.83,67.54,82.87,77.23,78.42,78.10,83.22,83.17,79.16,...,67.14,60.12,60.29,57.50,62.75,65.90,65.79,62.27,66.16,61.81
2,2010-03,127.59,127.75,133.36,122.26,135.62,133.74,138.61,132.80,125.80,...,116.59,95.44,103.53,101.66,95.05,97.49,111.68,111.31,109.09,107.39
3,2010-04,164.50,183.56,179.06,171.33,177.26,177.53,186.95,185.78,159.36,...,161.67,149.22,154.38,150.93,153.47,140.62,148.33,153.03,158.40,160.62
4,2010-05,210.55,219.64,240.51,223.91,229.42,230.64,239.30,234.91,218.41,...,162.97,138.80,132.49,149.80,143.27,141.79,164.88,158.14,171.15,177.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,2020-08,223.84,225.61,209.95,220.73,221.63,228.73,226.89,229.12,212.65,...,183.74,150.46,152.24,173.00,141.64,144.46,153.38,165.07,177.90,180.66
128,2020-09,163.24,168.55,159.60,160.12,164.55,167.44,170.64,168.14,160.11,...,147.60,133.51,129.12,136.21,131.85,125.71,139.68,140.28,145.02,142.34
129,2020-10,132.22,135.39,133.65,131.42,129.83,133.73,137.75,134.65,129.92,...,90.01,69.96,66.42,76.29,72.30,82.53,80.75,76.48,82.14,83.42
130,2020-11,87.43,90.29,88.07,84.71,82.69,84.39,90.64,81.27,89.51,...,58.01,63.44,60.15,65.30,63.42,62.18,58.24,58.08,56.87,57.66
131,2020-12,69.81,72.21,84.74,78.46,70.14,71.32,76.52,73.05,81.17,...,48.97,37.12,35.03,44.40,36.56,37.03,38.16,35.16,41.86,40.62

In [7]:
# Hacemos un transpose de las columnas 
# Y ponemos las nuevas columnas
rad_df = rad_df.T.reset_index()
rad_df.head(10)
headers=rad_df.iloc[0]
rad_df.columns = headers
rad_df = rad_df.drop(rad_df.index[0])
rad_df=rad_df.rename(columns={'Fecha':'Provincia'})
rad_df

,Provincia,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,2010-08,2010-09,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
1,Jaen,64.11,68.83,127.59,164.5,210.55,216.39,246.28,217.28,167.82,...,142.89,158.52,217.78,243.02,245.5,223.84,163.24,132.22,87.43,69.81
2,Granada,72.09,67.54,127.75,183.56,219.64,223.24,247.3,223.39,168.17,...,141.95,155.28,220.83,241.02,246.65,225.61,168.55,135.39,90.29,72.21
3,Almeria,82.01,82.87,133.36,179.06,240.51,237.05,238.35,218.32,168.79,...,134.65,165.54,223.82,236.57,234.76,209.95,159.6,133.65,88.07,84.74
4,Malaga,76.72,77.23,122.26,171.33,223.91,229.21,235.81,212.04,165.4,...,133.57,149.42,225.29,241.63,241.96,220.73,160.12,131.42,84.71,78.46
5,Cordoba,69.99,78.42,135.62,177.26,229.42,220.25,253.76,222.31,173.07,...,146.75,157.78,222.44,242.62,248.55,221.63,164.55,129.83,82.69,70.14
6,Sevilla,73.31,78.1,133.74,177.53,230.64,224.26,249.54,220.27,172.35,...,145.95,160.52,222.63,242.74,249.63,228.73,167.44,133.73,84.39,71.32
7,Cadiz,72.4,83.22,138.61,186.95,239.3,228.25,244.39,220.98,170.4,...,147.42,173.56,224.47,243.44,248.56,226.89,170.64,137.75,90.64,76.52
8,Huelva,70.01,83.17,132.8,185.78,234.91,226.77,252.72,216.32,173.16,...,143.36,159.15,226.97,242.82,250.9,229.12,168.14,134.65,81.27,73.05
9,Murcia,73.88,79.16,125.8,159.36,218.41,217.38,234.35,198.16,156.78,...,121.98,150.91,218.52,229.31,237.82,212.65,160.11,129.92,89.51,81.17
10,Caceres,64.2,71.91,120.09,174.57,214.18,217.31,253.57,218.24,164.61,...,138.26,150.4,217.67,234.3,247.03,221.1,159.18,118.94,69.74,59.3
11,Badajoz,63.51,75.81,118.83,178.25,215.48,221.74,253.04,215.17,165.3,...,137.87,146.78,214.28,230.66,248.99,222.6,162.62,121.81,70.68,62.05
12,Toledo,58.62,74.99,128.28,167.63,217.14,213.22,237.3,209.57,157.26,...,127.06,148.49,207.18,232.64,241.15,209.52,155.42,116.52,64.49,62.56
13,Ciudad Real,60.84,77.89,130.88,179.03,215.61,215.42,248.26,211.37,166.75,...,134.76,152.26,211.74,238.95,240.77,219.26,162.31,124.8,76.49,67.26
14,Albacete,61.28,78.36,131.87,174.7,197.47,210.82,243.98,205.56,160.88,...,122.91,159.86,208.76,228.31,237.76,218.91,161.1,128.51,82.35,73.91
15,Cuenca,58.8,72.63,123.93,167.05,192.49,203.37,248.47,206.6,159.67,...,112.07,144.93,206.59,225.35,237.49,216.63,152.5,117.57,73.79,65.92
16,Guadalajara,57.28,73.65,123.61,167.29,206.52,201.73,247.16,211.71,158.8,...,120.21,144.18,209.79,227.34,237.87,211.11,154.78,112.13,68.69,59.43
17,Castellon,62.62,80.65,123.82,159.11,213.52,211.84,229.19,192.67,149.8,...,115.73,155.86,211.82,217.26,221.29,201.86,152.64,120.48,74.54,71.19
18,Valencia,65.06,79.58,128.96,167.44,212.09,214.55,231.03,198.23,155.75,...,113.1,159.51,221.44,225.97,226.68,211.25,156.4,122.05,76.88,73.56
19,Alicante,73.5,80.92,128.66,176.16,216.75,220.62,237.09,209.75,162.51,...,128.09,171.61,218.61,227.29,234.6,212.7,158.91,127.19,83.88,77.55
20,Baleares,64.97,80.6,123.75,167.86,213.66,215.22,237.72,197.19,157.08,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46
21,Ceuta,74.53,74.05,117.79,150.03,216.84,230.62,230.24,207.64,151.44,...,129.6,135.61,214.6,239.96,228.69,219.7,152.01,122.41,78.39,78.14
22,Melilla,78.14,85.11,118.18,155.92,226.49,222.91,213.62,208.97,160.5,...,138.49,135.66,193.49,233.39,214.99,211.94,163.4,134.37,98.29,82.9
23,Santa Cruz de Tenerife,110.6,117.22,179.62,198.27,218.44,211.59,236.79,225.76,168.51,...,163.82,177.23,213.6,214.71,234.61,218.33,163.42,142.21,110.28,102.38
24,Las Palmas,110.23,121.24,170.98,172.57,185.97,170.12,186.81,175.78,167.02,...,162.2,198.97,223.4,176.48,179.5,196.15,168.43,136.82,111.67,103.95
25,Madrid,61.41,78.02,127.24,171.69,213.52,209.49,244.1,213.85,162.76,...,126.41,157.44,214.3,236.87,243.7,210.09,159.76,114.82,66.91,61.41
26,Soria,55.37,73.05,119.07,155.19,187.11,184.98,235.34,210.79,150.19,...,117.94,118.48,199.64,199.35,233.5,200.85,149.85,101.01,67.16,49.95
27,Segovia,44.84,64.71,101.19,165.25,176.48,182.13,238.44,207.98,147.85,...,118.52,124.57,202.38,211.64,237.25,205.72,151.29,99.99,67.97,46.94
28,Avila,54.34,71.14,108.51,164.5,188.62,193.14,246.33,210.23,155.57,...,121.12,135.95,211.61,221.94,240.77,208.95,162.02,117.59,67.82,57.89
29,Salamanca,58.8,75.37,123.21,174.49,201.01,197.29,250.6,218.84,158.03,...,124.88,134.63,213.47,221.53,246.23,207.56,163.5,114.56,68.81,57.34
30,Zamora,59.47,74.44,124.83,174.99,205.82,209.49,249.53,223.52,158.56,...,132.21,135.98,218.13,221.88,247.04,207.08,158.67,110.74,60.33,53.26
31,Leon,57.91,73.61,119.38,173.03,197.7,203.2,249.12,219.87,150.65,...,143.55,131.06,207.24,208.77,248.05,196.86,152.49,104.31,59.0,48.09
32,Palencia,55.65,64.26,116.72,172.44,189.31,200.2,246.15,217.83,152.74,...,138.95,134.27,208.18,201.06,241.91,198.56,153.44,104.2,66.52,52.64
33,Burgos,46.44,55.31,100.59,164.42,181.32,195.32,241.11,215.28,145.04,...,129.9,122.65,202.85,190.13,236.23,195.35,148.4,88.53,68.32,44.23
34,Valladolid,56.27,69.22,113.61,173.65,195.91,202.3,245.09,219.87,150.85,...,133.56,133.88,212.04,216.7,241.5,201.51,158.27,106.37,68.65,51.98
35,Huesca,62.78,82.16,134.84,167.46,210.41,213.17,242.09,216.41,154.85,...,124.9,150.43,208.44,209.11,237.84,203.38,157.14,110.12,68.85,58.24
36,Zaragoza,61.86,76.13,135.46,165.14,206.11,210.45,239.39,213.15,154.53,...,127.62,159.75,211.29,217.85,236.38,204.28,155.13,112.84,67.93,58.3
37,Teruel,55.55,76.72,124.63,161.17,188.42,190.19,239.57,198.58,154.78,...,118.94,151.6,205.38,220.72,230.68,206.99,152.62,118.28,75.5,65.56
38,Gerona,57.15,75.55,127.8,154.03,179.3,201.1,221.26,189.0,139.04,...,112.84,147.23,203.04,183.82,209.74,191.47,136.02,102.67,67.33,59.08
39,Lerida,61.06,80.49,135.96,162.72,207.96,212.6,240.32,206.63,152.95,...,131.63,156.84,210.24,220.96,238.58,203.45,156.82,113.32,63.73,56.37
40,Tarragona,59.76,75.4,122.59,153.67,201.67,212.22,229.9,193.23,143.22,...,121.92,147.76,206.45,211.16,231.43,194.39,145.06,108.9,68.16,60.44
41,Barcelona,57.47,73.98,126.67,150.28,204.16,208.46,232.55,194.34,141.31,...,123.73,157.88,209.7,211.86,223.14,195.89,140.79,106.81,67.63,59.25
42,Navarra,46.43,58.91,120.35,161.11,165.16,178.74,218.59,188.9,138.98,...,115.99,130.7,197.07,182.08,225.37,190.49,144.63,82.78,64.52,42.33
43,La Rioja,50.46,67.14,116.59,161.67,162.97,180.3,220.48,190.74,136.31,...,125.66,127.85,197.05,182.1,226.24,183.74,147.6,90.01,58.01,48.97
44,Vizcaya,40.28,60.12,95.44,149.22,138.8,153.5,156.8,149.91,125.62,...,106.36,123.25,180.98,154.75,181.15,150.46,133.51,69.96,63.44,37.12
45,Guipuzcoa,40.36,60.29,103.53,154.38,132.49,164.68,148.63,151.24,129.95,...,103.3,119.74,175.77,157.96,181.14,152.24,129.12,66.42,60.15,35.03
46,Alava,38.95,57.5,101.66,150.93,149.8,158.3,195.48,169.94,130.93,...,120.08,131.85,187.32,171.26,208.62,173.0,136.21,76.29,65.3,44.4
47,Cantabria,40.55,62.75,95.05,153.47,143.27,149.25,159.1,147.13,125.99,...,105.37,125.75,183.41,144.24,164.89,141.64,131.85,72.3,63.42,36.56
48,Asturias,41.5,65.9,97.49,140.62,141.79,138.83,157.63,154.62,127.02,...,115.54,104.01,179.14,140.25,160.21,144.46,125.71,82.53,62.18,37.03
49,La Coruña,45.06,65.79,111.68,148.33,164.88,169.15,209.07,180.94,136.9,...,114.38,114.5,194.49,161.8,219.4,153.38,139.68,80.75,58.24,38.16
50,Lugo,47.44,62.27,111.31,153.03,158.14,174.62,219.85,201.19,135.85,...,125.93,118.27,200.15,166.71,234.06,165.07,140.28,76.48,58.08,35.16
51,Orense,46.8,66.16,109.09,158.4,171.15,189.61,228.55,210.96,139.0,...,124.74,115.37,203.32,182.59,240.37,177.9,145.02,82.14,56.87,41.86
52,Pontevedra,49.12,61.81,107.39,160.62,177.25,204.31,226.96,202.27,143.85,...,127.67,122.21,199.93,171.64,245.63,180.66,142.34,83.42,57.66,40.62

In [9]:
# Hacemos regex 
rad_df.Provincia = rad_df.Provincia.str.replace('Jaen', 'Jaén', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Almeria', 'Almería', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Malaga', 'Málaga', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Cadiz', 'Cádiz', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Caceres', 'Cáceres', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Castellon', 'Castellón', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Avila', 'Ávila', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Leon', 'León', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Lerida', 'Lérida', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Cordoba', 'Córdoba', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Alava', 'Álava', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Lleida', 'Lérida', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Baleares', 'Islas Baleares', regex=True)
rad_df.Provincia = rad_df.Provincia.str.replace('Gipuzcoa', 'Guipuzcoa', regex=True)

AttributeError: 'DataFrame' object has no attribute 'Provincia'

In [24]:
# Hacemos el merge
total_df = pd.merge(df, rad_df, how='left', on='Provincia')
total_df

,Localidad,Latitud,Longitud,Provincia,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,Guadame,36.706119,-4.439046,Málaga,76.72,77.23,122.26,171.33,223.91,229.21,...,133.57,149.42,225.29,241.63,241.96,220.73,160.12,131.42,84.71,78.46
1,Puebla de Guzman,37.612887,-7.248890,Huelva,70.01,83.17,132.8,185.78,234.91,226.77,...,143.36,159.15,226.97,242.82,250.9,229.12,168.14,134.65,81.27,73.05
2,Huelva,37.257587,-6.948494,Huelva,70.01,83.17,132.8,185.78,234.91,226.77,...,143.36,159.15,226.97,242.82,250.9,229.12,168.14,134.65,81.27,73.05
3,Andújar,38.039236,-4.050560,Jaén,64.11,68.83,127.59,164.5,210.55,216.39,...,142.89,158.52,217.78,243.02,245.5,223.84,163.24,132.22,87.43,69.81
4,Carmona,37.471788,-5.641291,Sevilla,73.31,78.1,133.74,177.53,230.64,224.26,...,145.95,160.52,222.63,242.74,249.63,228.73,167.44,133.73,84.39,71.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,Son Servera,39.622273,3.360598,Islas Baleares,64.97,80.6,123.75,167.86,213.66,215.22,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46
538,Santanyi,39.354312,3.129480,Islas Baleares,64.97,80.6,123.75,167.86,213.66,215.22,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46
539,Ciutadella,40.000440,3.835237,Islas Baleares,64.97,80.6,123.75,167.86,213.66,215.22,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46
540,Sant Josep de sa Talaia,38.904361,1.317810,Islas Baleares,64.97,80.6,123.75,167.86,213.66,215.22,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46
541,Sineu,39.643140,3.011611,Islas Baleares,64.97,80.6,123.75,167.86,213.66,215.22,...,129.97,170.17,222.85,223.93,227.55,201.0,152.47,116.52,79.24,63.46